* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto' , sans-serif;
}

section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  min-height: 100vh;
  background: #350048;
}

section::before {
  content: '';
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  height: 50px;
  background: #bd00ff;
}

section .container {
  width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section .container .card {
  position: relative;
  width: 250px;
  height: 300px;
  text-align: center;
  z-index: 10;
  margin: 20px 20px 60px;
}

section .container .card .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.05);
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 10;
  border-radius: 10px;
}

section .container .card .box .precent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 100;
}

section .container .card .box .precent svg {
  position: relative;
  width: 150px;
  height: 150px;
}

section .container .card .box .precent svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke: rgba(255, 255, 255, 0.05);
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
  stroke-linecap: round;
}

section .container .card .box .precent svg circle:nth-child(2) {
  stroke: #fff;
  stroke-dasharray: 440px;
}

section .container .card .box .precent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .container .card .box .precent .number h2 {
  color: #fff;
  font-weight: 700;
  font-size: 50px;
}

section .container .card .box .precent .number h2 span {
  font-size: 24px;
}

section .container .card .text {
  position: absolute;
  bottom: -42px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  padding: 30px 20px 10px;
  background: #f00;
  border-radius: 10px;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  z-index: 1;
  pointer-events: none;
  -webkit-transition: bottom 0.5s , z-index 0s , padding 0.5s , -webkit-transform 0.5s;
  transition: bottom 0.5s , z-index 0s , padding 0.5s , -webkit-transform 0.5s;
  transition: bottom 0.5s , z-index 0s , transform 0.5s , padding 0.5s;
  transition: bottom 0.5s , z-index 0s , transform 0.5s , padding 0.5s , -webkit-transform 0.5s;
  -webkit-transition-delay: 0.5s,0.5s,0s,0.5s;
          transition-delay: 0.5s,0.5s,0s,0.5s;
  color: #fff;
}

section .container .card:hover .text {
  -webkit-transition-delay: 0s,0.5s,0.5s,0s;
          transition-delay: 0s,0.5s,0.5s,0s;
  bottom: -70px;
  z-index: 11;
  -webkit-transform: translateX(-50%) translateY(-50px);
          transform: translateX(-50%) translateY(-50px);
  padding: 10px 20px 10px;
}

section .container .card:first-child .text {
  background: #ff0461;
}

section .container .card:first-child .box .precent svg circle:nth-child(2) {
  stroke-dashoffset: calc(440px - (440px * 90) / 100);
}

section .container .card:nth-child(2) .text {
  background: #2bd2ff;
}

section .container .card:nth-child(2) .box .precent svg circle:nth-child(2) {
  stroke-dashoffset: calc(440px - (440px * 82) / 100);
}

section .container .card:nth-child(3) .text {
  background: #18d539;
}

section .container .card:nth-child(3) .box .precent svg circle:nth-child(2) {
  stroke-dashoffset: calc(440px - (440px * 65) / 100);
}
/*# sourceMappingURL=style.css.map */